:root {
    --primary-color: white;
    --secondary-color: black;
}

.dark-theme{
    --primary-color: black;
    --secondary-color: white;
}

#body{
  background-color: var(--primary-color);
}

#nav{
    color: var(--secondary-color);
}

#cards{
    color: var(--secondary-color);
}

#section{
    color: var(--secondary-color);
}

#start{
    background-color: var(--secondary-color);
}